#bgvideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
}
#aboutvideo {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
#name {
  margin: 16px -36px -102px -8px;
  width: 1524px;
  height: 242px;
  display: inline-block;
  z-index: -1;
  position: relative;
  transform: rotate(357deg);
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  opacity: 0.9;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  opacity: 1;
}

input[type="submit"]:hover {
  background-color: #45a049;
  opacity: 1;
}

#form {
  border-radius: 34px;
  background-color: #dfdfdf;
  padding: 26px;
  width: 30%;
  margin: 162px 0px 0px 994px;
  display: inline-block;
  opacity: 0.8;
}
.criteria {
  color: rgb(244 52 52);
  font-family: "Bebas Neue", cursive;
  font-weight: 1000;
  letter-spacing: 0.5px;
}

#aboutome {
  padding: 10px;
  font-size: 45px;
  font-family: "Teko", sans-serif;
  text-decoration: none;
  position: absolute;
  display: inline-block;
  margin: 400px -70px -33px 229px;
}
#main {
  padding: 10px;
  font-size: 45px;
  font-family: "Teko", sans-serif;
  text-decoration: none;
  position: absolute;
  display: inline-block;
  margin: 400px -70px -33px 229px;
}

#img2 {
  margin: 25px -115px -125px 764px;
  width: 764px;
  height: 520px;
  display: inline-block;
  position: absolute;
}

#skins {
  width: 234px;
  height: 248px;
  margin: -237px -290px 3px 225px;
  display: inline-block;
  border-radius: 24px;
  border: white 34px;
}
#skinz {
  width: 234px;
  height: 248px;
  margin: -209px -352px 3px -172px;
  display: inline-block;
  border-radius: 24px;
  border: white 34px;
}
#submitbutton {
  opacity: 1;
}

#rankcurrent {
  width: 181px;
  height: 181px;
  margin: -273px 605px;
  display: inline-block;
  position: absolute;
}

p {
  font-size: 55px;
  font-weight: 1000;
  color: #3fb2c3;
  margin: 12px 502px;
  font-family: "Oswald", sans-serif;
}

#namee {
  font-size: 100px;
  font-weight: 1000;
  color: #fefefe;
  margin: -690px 45px;
  font-family: "Concert One", cursive;
  display: inline-block;
  position: absolute;
}
#hashtag {
  font-size: 55px;
  font-weight: 1000;
  color: #fefefe;
  margin: -578px 259px;
  font-family: "Concert One", cursive;
  display: inline-block;
  position: absolute;
}

#mains {
  margin: 5px 0px 0px 421px;
  width: 518px;
  height: 533px;
  display: inline-block;
  position: absolute;
}
